extends ../shared/template
block content
  h3 Traders
  table.table.table-bordered.table-hover#userTable
    thead
      tr
        th Name
        th Photo
        th Email
        th Phone Number
    body
      each user in users
        tr
          td: a(href='/users/#{user.email}')=user.name
          td: .userPhoto(style='background-image:url(#{user.photo})')
          td= user.email
          td= user.phone

block scripts
