extends ../shared/template
block content
  table.table.table-striped.table-hover
    thead
      tr
        th Name
        th Photo
        th Email
        th Phone Number
    body
      each user in users
        tr
          td: a(href='/users/#{user.email}')=user.name
          td(style='background-image:url(#{user.photo})')
          td= user.email
          td= user.phone

block scripts
