extends ../shared/template
block content
  body.backgroundImage
    div.register
      div.content-main
        .row
          .col-xs-12.col-md-3
            h2.register Login
              form.regLog(role='form', method='post', action='/login')
                .form-group
                  label(for='email')
                  input.form-control.input-bar#email(type='email', name='email', autofocus=true, placeholder= 'Email')
                .form-group
                  label(for='password')
                  input.form-control.input-bar#password(type='password', name='password', placeholder= 'Password')
                button.btn(type='submit') Submit
        .cheers Cheers!
        .row
          .col-xs-12.col-md-3

  block scripts

