extends ../shared/template
block content
  body.backgroundImage
      div.register
        div.content-main
          .row
            .col-xs-12.col-md-3
              h2.register Register
                form.regLog(role='form', method='post', action='/register')
                  .form-group
                    label(for='name')
                    input.form-control.input-bar#name(type='text', name='name', placeholder='User Name', autofocus=true)
                  .form-group
                    label(for='photo')
                    input.form-control.input-bar#photo(type='text', name='photo', placeholder='Picture URL')
                  .form-group
                    label(for='phone')
                    input.form-control.input-bar#phone(type='text', name='phone', placeholder='xxx-xxx-xxxx')
                  .form-group
                    label(for='email')
                    input.form-control.input-bar#email(type='email', name='email', placeholder ='Email')
                  .form-group
                    label(for='password')
                    input.form-control.input-bar#password(type='password', name='password', placeholder='Password')
                  button.btn(type='submit') Submit
          .row
            .col-xs-12

  block scripts
    script(src='/js/user/new-register.js')

