extends ../shared/template
block content
  body
    .homePage
      #goRegister: a(href= '/register') Register
      #goLogin: a(href='/login') Login
      .slogan . <br/> Bid.<br/> &nbsp &nbsp &nbsp Trade.<br/> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Drink...
      

block scripts
  script(src='/js/user/home.js')

