@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);
@bidCards: #120F30;
@bidButton: #ebebeb;
@themeBlue: #0f1c3c;
@themeRed: #711a1a;
@themeGray: #ECECEC;

#brand:hover{
  color: #711a1a;
}

#bs-navbar-collapse a:hover{
  background-color: #711a1a;
  color: white;
}

body{
  color: @themeBlue;
  background-color: @themeGray;
}

#brand{
  font-family: 'Berkshire Swash', cursive;
  font-size: 50px;
}

// navbar/////////////////

.navbar{
  background-color: @themeBlue;
  border-radius: 0;
}

.navbar form button{
  background-color: @themeRed;
  border: 2px solid white;
}

//marketplace///////////

#marketplace{
  text-align: center;
  color: @themeGray;
  background-color: @themeRed;
  padding: 15px;
  border: 2px solid  @themeBlue;
}

#redPanel {
  background-color: @themeRed;
}

#marketplace-map{
  margin-bottom: 30px;
}

//profile/////////////
#addWine {
  background-color: @themeRed;
}
.panel-body{
  background-color: @themeGray;
}

.profile-photo {
  height: 200px;
  width: 150px;
  background-size: cover;
}

.item-photo {
  height: 100px;
  width: 100px;
  background-size: cover;
}


//marketplace map
#marketplace-map {
  margin-bottom: 0px;
  margin-top: 0px;
  height: 400px;
  border: 1px solid @themeBlue;
}


#userTable{
  border: 2px solid @themeBlue;
}

#userTable th{
  border: 1px solid @themeBlue;
  color: white;
  background-color: @themeRed;
}

#userTable td{
  border: 1px solid @themeBlue;
  height: 120px;
  vertical-align: auto;
  margin-top: auto;
  margin-bottom: auto;
}

//marketplace-table
#marketplace-table th {
  border: 1px solid @themeBlue;
  color: white;
  background-color: @themeGray;
}

#marketplace-table a {
  color: @themeBlue;
  padding: 3px;
  text-decoration: none;
  border: 1px solid @themeRed;
  border-radius: 15%;
  display: inline-block;
  margin: 0px 3px 0px 3px;
}

.marketplace-date {
  color: white;
}

#marketplace-table a:hover{
  background-color: @themeBlue;
  color: @themeGray;
}


#marketplace-table th {
  color: @themeBlue;
  text-align: center;
}

#marketplace-table td {
  border: 1px solid @themeBlue;
}

.table-hover {
  background-color: @themeGray;
}

#marketplace-table {
  margin: 0px;
  border: 1px solid @themeBlue;
}
//////// profile page ///////////

#profilePanel {
  margin-top: 10px;
  background-color: @themeBlue;
  position: relative;
}

#profilePanel2 {
  background-color: @themeBlue;
}

/////// owner's block /////////

#nameTh {
  position: relative;
  background-color: @themeRed;
}

#aname {
  position: relative;
  bottom: 25px;
  left: 15%;
  color: @themeGray;
  text-decoration:none;
  text-align: center;
  padding: 3px;
}

#aname:hover {
  text-decoration: underline;
}

#ownerInfo {
  position: relative;
}

#infoBorder td {
  border: 1px solid @themeBlue;
}

#infoBorder {
  background-color: @themeRed;
}

.profile-photo {
  height: 135px;
  background-size: cover;
}

////// auctions table ///////

.tb-container {
  border: 3px solid @themeRed;
}

.table-header {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: @themeGray;
  text-align: center;
  padding: 15px;
  border: 1px solid @themeBlue;
}

#auctionsTable th {
  background-color: @themeGray;
  text-align: center;
  border: 1px solid @themeBlue;
}

#auctionsTable td{
  background-color: @themeGray;
  border: 1px solid @themeBlue;
}

#auctionsTable {
  margin: 0px;
  text-align: center;
}

#auctionsTable a {
  color: @themeRed;
  padding: 5px;
  border: 1px solid @themeRed;
  text-decoration: none;
  border-radius: 5px;
}

#auctionsTable a:hover {
  background-color: @themeBlue;
  color: @themeGray;
}

////// add wine form ///////

#addBottleBox {
  position: relative;
  padding: 20px;
  top: -50px;
  background-color: @themeGray;
}

#addBottle {
  position: relative;
  top: -10px;
  background-color: @themeRed;
  padding: 10px;
  color: @themeGray;
  border: 1px solid @themeBlue;
  border-radius: 15px;
  text-align: center;
}

#newItem{
  border: 2px solid @themeBlue;
  padding: 15px;
  border-radius: 15px;
}

#newItem label {
  color: @themeBlue;
}

.wine-bar {
  border: 1px solid @themeRed;
}

///// wines out for bid table //////

.red-head {
  color: @themeRed;
}

#winesOnBidTable{
  border: 1px solid @themeBlue;
}

#winesOnBidTable th {
  background-color: @themeGray;
  text-align: center;
  border: 1px solid @themeBlue;
}

#winesOnBidTable td{
  background-color: @themeGray;
  border: 1px solid @themeBlue;
}

#winesOnBidTable {
  margin: 0px;
  text-align: center;
}

#cellarTable{
  border: 1px solid @themeBlue;
}

#cellarTable th {
  background-color: @themeGray;
  text-align: center;
  border: 1px solid @themeBlue;
}

#cellarTable td{
  background-color: @themeGray;
  border: 1px solid @themeBlue;
}

#cellarTable {
  margin: 0px;
  text-align: center;
}

#profileTable{
  border: 2px solid @themeBlue;
  padding: 5px;
}

#openAuctions thead, tbody, th, td{
  border: 1px solid @themeBlue;
}

.userPhoto{
  background-size: cover;
  height: 100%;
}

// messages

#messagesTable{
  border: 3px solid @themeBlue;
}

#messagesTable th{
  border: 1px solid @themeBlue;
  color: white;
  background-color: @themeRed;
}

#messagesTable td{
  border: 1px solid @themeBlue;
  background-color: white;
}

// bids ///////

#bid {
  margin: 10px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 1px solid @bidButton;
  width: 200px;
  height: 375px;
  background-color: @bidCards ;

}

.bid-photo{
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.bid-name {
  font-size: 24px;
  padding: 10px;
}

.bid-location {
  padding: 10px;
  font-size: 18px;
  background-color: #1B1742;
}

.bid-description {
  padding: 10px;
  font-size: 18px;
  background-color: #231F4D;
  margin: 0px;
}

#bidButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 197px;
  background-color: @bidButton;
  border: 0px solid @bidButton;
  color: #260026;
  border-radius: 0%;
}

#bidButton:hover {
  background-color: white;
}

// views/user/edit

#editProfile {
  background-color:@themeBlue;
}

.input-bar{
  margin: 0px;
  background-color: @themeRed;
  padding: 40px;
  color: @themeBlue;
  font-size: 20px;
  border: 0px;
  border-radius: 10px;
  text-align: center;
}

.input-bar:hover {
  background-color: white;
}

#labels {
  background-color: white;
  width: 2000px;
  margin: 0px;
}

// /user/new.jade

#register {
  text-align: center;
}

.btn {
  background-color: @themeBlue;
  color: white;
}

.btn:hover {
  background-color: @themeRed;
  color: white;
}

@media screen and (max-width: 480px) {

  .register {
    text-align: center;
    color: @themeBlue;
    position: relative;
  }
  .content-main {
    position: relative;
    left: 0%;
    border: 1px solid @themeBlue;
  }
}

@media screen and (min-width: 660px) {

  .register {
    text-align: center;
    color: @themeBlue;
    position: relative;
  }
  .content-main {
    position: relative;
    left: 38%;
  }
  form.regLog {
    padding: 15px;
    border: 1px solid @themeBlue;
    width: 400px;
    border-radius: 15px;
    margin-top: 20px;
  }
 .backgroundImage {
   background-image: url("/img/wine_cellar_bg.png");
   background-size: cover;
   background-repeat: no-repeat;
 }
 .cheers {
   position: relative;
   right: 635px;
   top: 75px;
   font-size: 100px;
  font-family: 'Berkshire Swash', cursive;
 }
}

// home/index.jade

.navbar {
  margin: 0px;
  padding: 15px;
}

.homePage {
   background-image: url("/img/wine_cellar_home.png");
   background-size: cover;
   height: 975px;
   position: relative;
   margin: 0px auto;
}

#goRegister a {
  color: @themeRed;
  text-align: center;
  font-size: 20px;
  position: absolute;
  left: 930px;
  top: 500px;
  /*font-family: 'Berkshire Swash', cursive;*/
  font-size: 50px;
  padding: 30px;
}


#goLogin a {
  color: @themeRed;
  text-align: center;
  font-size: 20px;
  position: absolute;
  left: 530px;
  top: 500px;
  /*font-family: 'Berkshire Swash', cursive;*/
  font-size: 50px;
  padding: 30px;
}

#goLogin a:hover {
  border: 1px solid @themeRed;
  border-radius: 15%;
}

#goRegister a:hover {
  border: 1px solid @themeRed;
  border-radius: 15%;
}

.slogan {
  position: absolute;
  left: 540px;
  top: 150px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 45px;
  color: @themeGray;

}














//
table#ItemsOnSale.table.table-stribed.table-hover.table-bordered {
  border: 3px solid #0f1c3c;
}





