@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);
@bidCards: #120F30;
@bidButton: #ebebeb;
@themeBlue: #0f1c3c;
@themeRed: #711a1a;

body{
  color: @themeBlue;
}

#brand{
  font-family: 'Berkshire Swash', cursive;
  font-size: 50px;
}
.navbar{
  background-color: @themeBlue;
  border-radius: 0;
}

.navbar form button{
  background-color: @themeRed;
  border: 2px solid white;
}

#marketplace{
  text-align: center;
  color: white;
  background-color: @themeRed;
  padding: 15px;
  margin-top: 0;
}

#marketplace-map{
  margin-bottom: 30px;
}

#marketplace-table{
  border: 3px solid @themeBlue;
}


.homePage {
  height: 1080px;
}

.profile-photo {
  height: 200px;
  width: 150px;
  background-size: cover;
}

.item-photo {
  height: 100px;
  width: 100px;
  background-size: cover;
}

#marketplace-map {
  height: 400px;
}

#userTable{
  border: 2px solid @themeBlue;
}

#userTable th{
  border: 1px solid @themeBlue;
  color: white;
  background-color: @themeRed;
}

#userTable td{
  border: 1px solid @themeBlue;
  height: 120px;
  vertical-align: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#marketplace-table th {
  border: 1px solid @themeBlue;
  color: white;
  background-color: @themeRed;
}

#marketplace-table a{
  color: @themeBlue;
}

.marketplace-date a{
  color: white;

}

#marketplace-table a:hover{
  color: white;
  background-color: @themeRed;
}
#marketplace-table .sort{
  color: white;
}

#addWine{
  color: @themeBlue;
}

#newItem{
  border: 2px solid @themeBlue;
  padding: 5px;
}

#openAuctions thead, tbody, th, td{
  border: 1px solid @themeBlue;
}

#winesOnBid{
  border: 2px solid @themeBlue;
}

#profileTable{
  border: 2px solid @themeBlue;
  padding: 5px;
}

.userPhoto{
  background-size: cover;
  height: 100%;
}

#marketplace-table td {
  border: 1px solid @themeBlue;
}

#messagesTable{
  border: 3px solid @themeBlue;
}

#messagesTable th{
  border: 1px solid @themeBlue;
  color: white;
  background-color: @themeRed;
}

#messagesTable td{
  border: 1px solid @themeBlue;
  background-color: white;
}

#bid {
  margin: 10px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 1px solid @bidButton;
  width: 200px;
  height: 375px;
  background-color: @bidCards ;

}

.bid-photo{
  height: 200px;
  background-size: cover;
  /*background-repeat: no-repeat;*/
}

.bid-name {
  font-size: 24px;
  padding: 10px;
}

.bid-location {
  padding: 10px;
  font-size: 18px;
  background-color: #1B1742;
}

.bid-description {
  padding: 10px;
  font-size: 18px;
  background-color: #231F4D;
  margin: 0px;
}

#bidButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 197px;
  background-color: @bidButton;
  border: 0px solid @bidButton;
  color: #260026;
  border-radius: 0%;
}

#bidButton:hover {
  background-color: white;
}




